@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

#planet-zone {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.planet {
  width: 20em;
  height: 20em;
  margin: 0.5em;
  border: solid rgba(255, 250, 240, 0.808) 4px;
  border-radius: 1em;
  text-align: center;
  *{
    pointer-events: none;
  }
 }

.planetHeader {
  line-height: 7.80em;
  color: rgba(240, 246, 255, 0.87);
  font-family: 'Turret Road', cursive;
}

.planet-full {
  border: solid rgba(255, 250, 240, 0.808) 4px;
  border-radius: 0.5em;
  padding: 0.5em;
  * {
    pointer-events: none;
  }
}

.planetHeader-full {
  color: rgba(240, 246, 255, 0.87);
  font-size: 5em;
  font-family: 'Turret Road', cursive;
}

.x {
  float: right;
  font-size: 2.5em;
}

.planet-description {
  color: rgba(240, 246, 255, 0.87);
}

